.aboutList-container{
    padding: 150px 150px 300px;
    text-align: center;
}

.about-title{
    font-size: 50px;
    font-weight: 600;
}

.about-description{
    margin-top: 20px;
    font-weight: 200;
}

.about-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media (max-width: 992px) {
    .aboutList-container{
        padding: 200px 0;
    }
  }